*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-color: #D3C8EB;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin:auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: rgb(116, 116, 16);
    font-size: 35px;
    font-family: Roboto;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    

    
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    text-emphasis-color: salmon;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: salmon;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color: salmon;
}
